CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
# CONFIG_TARGET_IMAGES_GZIP is not set
CONFIG_TARGET_KERNEL_PARTSIZE=80
CONFIG_TARGET_ROOTFS_PARTSIZE=600
# CONFIG_TARGET_ROOTFS_TARGZ is not set

CONFIG_DEVEL=y
CONFIG_BPF_TOOLCHAIN_HOST=y
CONFIG_BPF_TOOLCHAIN_HOST_PATH=""
# CONFIG_BPF_TOOLCHAIN_NONE is not set
CONFIG_DWARVES=y
CONFIG_EXTRA_OPTIMIZATION=""
CONFIG_HAS_BPF_TOOLCHAIN=y
CONFIG_KERNEL_BPF_EVENTS=y
CONFIG_KERNEL_DEBUG_INFO_BTF=y
CONFIG_KERNEL_DEBUG_INFO_BTF_MODULES=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_FTRACE=y
CONFIG_KERNEL_HUGETLBFS=y
CONFIG_KERNEL_HUGETLB_PAGE=y
CONFIG_KERNEL_KPROBES=y
CONFIG_KERNEL_KPROBE_EVENTS=y
CONFIG_KERNEL_MODULE_ALLOW_BTF_MISMATCH=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE=y
CONFIG_KERNEL_TRANSPARENT_HUGEPAGE_ALWAYS=y
CONFIG_KERNEL_XDP_SOCKETS=y
CONFIG_LIBDPDK_ARCH_x86-64=y
CONFIG_LIBDPDK_DRIVER_COMMON_IAVF=y
CONFIG_LIBDPDK_DRIVER_E1000=y
CONFIG_LIBDPDK_DRIVER_I40E=y
CONFIG_LIBDPDK_DRIVER_ICE=y
CONFIG_LIBDPDK_DRIVER_IXGBE=y
CONFIG_LIBDPDK_DRIVER_NGBE=y
CONFIG_LIBDPDK_DRIVER_R8125=y
CONFIG_LIBDPDK_DRIVER_TXGBE=y
CONFIG_LIBDPDK_DRIVER_VIRTIO=y
CONFIG_PACKAGE_daed=y
CONFIG_PACKAGE_dpdk-tools=y
CONFIG_PACKAGE_kmod-sched-bpf=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-xdp-sockets-diag=y
CONFIG_PACKAGE_libarchive=y
CONFIG_PACKAGE_libbsd=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libcron=y
CONFIG_PACKAGE_libdpdk=y
CONFIG_PACKAGE_libexpat=y
CONFIG_PACKAGE_libfdt=y
CONFIG_PACKAGE_libkmod=y
CONFIG_PACKAGE_liblzma=y
CONFIG_PACKAGE_libnuma=y
CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libpython3=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_luci-app-daed=y
CONFIG_PACKAGE_luci-i18n-daed-zh-cn=y
CONFIG_PACKAGE_numactl=y
CONFIG_PACKAGE_python3-base=y
CONFIG_PACKAGE_python3-light=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-core=y
CONFIG_USE_LLVM_HOST=y
